@import "tailwindcss";

:root {
  --title1: 38px;
  --title2: 44px;
  --title3: 24px;
  --p-big: 18px;
  --p-small: 16px;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #ff2a70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Ubuntu, Arial;
}

.font-normal {
  font-weight: var(--font-weight-normal);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

.text-title1 {
  font-size: var(--title1);
}

.text-title2 {
  font-size: var(--title2);
}

.text-title3 {
  font-size: var(--title3);
}

.text-p-big {
  font-size: var(--p-big);
}

.text-p-small {
  font-size: var(--p-small);
}
