@import "tailwindcss";

:root {
  --title-h1: 38px;
  --title-h2: 38px;
  --subtitle-h3: 44px;
  --title-sm: 24px;
  --p-base: 18px;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --text-color: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #ff2a70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Ubuntu, Arial;
}

h1 {
  color: var(--text-color);
  font-size: var(--title-h1);
}

h2 {
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

h4 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}
